*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Dashbaord*/


.container-Dashboard {
    position: relative;
    top: 50px;
}

.container-Dashboard-title{
    text-align: center;
    position: relative;
    bottom: -30px;
}

/*tweets*/

ul {
    list-style:  none;
}
.container {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 30px;
}

.container-border {
    border: 1px solid rgba(220, 220, 220, 0.78);
    margin-top: 20px;
    margin-bottom: 20px;
}

.textarea {
    height: 30%;
    margin-top: 25px;
    margin-bottom: 20px;
    flex-direction: row;
    display: flex;
}

.textarea-text {
    padding-left: 50px;
}

.textarea-avatar {
    position: relative;
    left: 30px;
}

.textarea-imag {
    width: 50px;
    height: 50px;
    border-radius:50% ;
}


.textarea-like-container {
    position: relative;
    top: 10px;
}
.textarea-like-forward-number {
    position: relative;
    top: -7px;
    left: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}
.textarea-like-like-number {
    position: relative;
    top: -7px;
    left: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}
.textarea-like-heart {
    background-image: url("./image/heart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height:28px;
    border: 0;
    position: relative;
    right: -30px;
}

.textarea-like-full {
    background-image: url("./image/full-heart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height:28px;
    border: 0;
    position: relative;
    right: -30px;
}


.textarea-like-forward {
    background-image: url("./image/forwar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height:28px;
    border: 0;
}


/*new tweet */


.new-tweet-container {

    width: 600px;
    position: relative;
    top: 150px;
    margin-left:auto;
    margin-right: auto;
    /*margin-bottom: 50px;*/
    /*margin-top: 30px;*/


}
.new-tweet-title {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 30px;
}
.new-tweet-text {
    width: 100%;
}
.new-tweet-textarea {
    width: 100%;
    height: 110px;
    font-size: 15px;
    border: 1px solid rgba(180, 180, 180, 0.45);
    padding: 10px;
}
.new-tweet-button {
    width:230px;
    height: 30px;
    border: 1px solid rgba(153, 153, 153, 0.45);
    position: relative;
    top: 15px;
    left: 170px;
}
textarea {
    width: 500px;
}

/*Nav*/
.nav {
    position: relative;
    top: 30px;
    left: 250px;
}

.nav-home,
.nav-new{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.nav-new {
    margin-left: 50px;
}